@{
    ViewData["Title"] = "Calendar";
}

<h2>Calendar</h2>

<p>This will be the Calendar's main page</p>

<form action="/action_page.php">
    Select date:
    <input type="date" name="ScheduleDate" />
    <input type="submit" />
</form>


